@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: hsla(0, 0%, 14%, 0.70);
    /* 색상, 채도, 밝기 */

    /* --secondary-color: hsl(339, 77%, 59%); */
    /* --third-color: hsl(0, 0%, 85%); */

    --body-color: hsla(0, 0%, 100%, 0.98);

    /* font */
    --body-font: 'Noto Sans', sans-serif;
    --h1-font-size: 2rem;
    /* 글자 크기 : 중간일 때, 대문자 M의 너비인 16px을 기준으로 함*/
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normar-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.6rem;

    /* z-index */
    --z-index: 100;

    /* nav */
    --nav-height: 44px
}

/* nav */
body {
    font-family: var(--body-font);
    background-color: var(--body-color);
}

body>header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

/* .logo {
    background-color: var(--primary-color);
    height: var(--nav-height);
    display: flex;
    text-align: left;
    justify-content: left;
    align-items: left;
    padding: 0 40px;
    color: hsl(0, 0%, 85%, 60%);
    font-size: var(--small-font-size);
} */

nav.container {
    background-color: var(--primary-color);
    height: var(--nav-height);
    display: flex;
    /* justify-content: space-between; */
    /* 메뉴 가운데 */
    /* justify-content: center; */
    align-items: center;
    padding: 0 40px;
    color: hsl(0, 0%, 85%, 60%);
    font-size: var(--small-font-size);
    text-align: center;
    justify-content: center;
    /* z-index: 10; */
    /* padding-left: 600px; */
}

nav a {
    color: hsl(0, 0%, 85%, 70%);
}


.nav-list {
    display: flex;
    /* align-items: center; */
    column-gap: 50px;
    /* text-align: center; */
    transition: 0.5s ease-in-out;
}

.nav-toggle,
.logo {
    display: none;
    /*list 표시 정렬*/
    /* position: absolute; */
    /* right: 30px; */
}

@media screen and (max-width: 600px) {
    .nav-container {
        padding: 0 20%;

    }

    .nav-list {

        flex-direction: column;
        background-color: hsla(0, 0%, 14%, 0.7);
        position: absolute;
        top: calc(var(--nav-height) - 200px);
        right: 0;
        /* left: 0;/ */
        /*너비를 50%로 설정해서 오른쪽 반만 차지하도록 함*/
        width: 50%;
        /* overflow: hidden; */
        /* z-index: 100; */
        z-index: var(--z-index);
        transition: bottom 3s ease-out;
    }

    .nav-item {
        padding: 1rem 0;
        width: 100%;
        text-align: center;

    }

    .nav-link {
        display: block;

        /* color: hsl(0, 0%, 85%); */
        /* text-decoration: none; */
        /* padding: 1rem; */
    }

    .nav-toggle {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 3%;
    }

    .show-menu {
        height: 650px;
        top: var(--nav-height);
    }
}