@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: hsla(0, 0%, 14%, 0.70);
    /* 색상, 채도, 밝기 */

    /* --secondary-color: hsl(339, 77%, 59%); */
    /* --third-color: hsl(0, 0%, 85%); */

    --body-color: hsla(0, 0%, 100%, 0.98);

    /* font */
    --body-font: 'Noto Sans', sans-serif;
    --h1-font-size: 2rem;
    /* 글자 크기 : 중간일 때, 대문자 M의 너비인 16px을 기준으로 함*/
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.6rem;

    /* z-index */
    --z-index: 100;

    /* nav */
    --nav-height: 44px
}

/* html {
    overflow: hidden;
} */

html,
body {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;

}

/* 
.scrollSection {
    width: 100%;
    height: 100%;
} */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;

}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.current {
    opacity: 1;
}

#scrollSection1 {
    height: 836px;
    background: url(/toStorage-image.jpg) no-repeat center center;
    background-size: cover;
    /* 꽉찬 화면을 반응형으로 기준점을 center로 */
    background-position: cover;
    /* column-gap: 200px; */
    /* width: 100%; */
}

/* 

#scrollSection1 {
    background-color: #f0f0f0;
    background-image: url('');
    background-size: cover;
    color: #333;
} */
#scrollSection2 {
    height: 836px;
    background: url(/mainImage2.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    /* background-size: cover; */
}

/* 
#scrollSection2 {
    background-color: #c0c0c0;
    background-image: url('mainImage2-10.jpg');
    background-size: cover;
    color: #333;
} */

#scrollSection3 {
    height: 836px;
    background: url(/mainImage2-10.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    /* background-size: cover; */
}

/* #scrollSection3 {
    background-color: #a0a0a0;
    background-image: url('mainImage2-2.jpg');
    background-size: cover;
    color: #333;
} */

html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;

    /* 생략 */
}

body {
    font-family: var(--body-font);
    /* background-color: var(--body-color); */
}

body>header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

button {
    /* position: relative; */
    padding: 10px 30px;
    /* border-radius: 5px; */
    font-family: var(--body-font);
    /* border-color: hsla(0, 0%, 100%, 0.7); */
    color: hsla(0, 0%, 12%, 0.8);
    /* backdrop-filter: blur(2px); */
    /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); */
    /* text-decoration: none; */
    /* color: hsla(0, 0%, 80%, 0.98); */
    background-color: hsla(0, 0%, 80%, 1);
    border: none;
    /* background-color: none; */
    font-weight: 600;
    transition: 0.25s;
    box-shadow: 3px 4px hsla(0, 0%, 12%, 0.3);
}

i {
    font-size: large;
}

/* 버튼 css */

/* 미디어 쿼리문으로 텍스트 크기 조정(반응형 구현하기) */
@media (max-width: 600px) {
    .image-upload {
        position: relative;
    }

    .image-upload-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .image-upload-container i {
        font-size: 2em;
        /* Adjust icon size as needed */
    }
}