* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    /* 링크 블루 언더라인 스타일 삭제 */
    text-decoration: none;
}

ul,
ol {
    /* 글머리표 삭제 */
    list-style: none;
}

img {
    /* max-width: 100%; */
}